

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; 
    border:none;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
  }
  /* 导航栏 */
  header{
    position: fixed;
    top:0; 
    left: 0; 
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 5%;
  }

    header .logo span{
        color: #ffa500;
    }

    header .logo{
    font-size: 1.5rem;
    font-weight: bolder;
    color:#fff;
    text-transform: uppercase;
    }

    header .navbar a{
        color:#fff;
        font-size: 1rem;
        font-weight: bold;
        margin:0 .8rem;
      }

    header .navbar a:hover{
        color:#ffa500;
      }

      header .icons i{
        font-size: 1.2rem;
        color:#fff;
        cursor: pointer;
        margin-right: 1rem;
      }

      header .icons i:hover{
        color:#ffa500;
      }

      /* 搜索框 */
      header .search-bar-container{
        position: absolute;
        top:-100%; left: 0; right:0;
        padding: 0.5em 1rem;
        border-top: .1rem solid rgba(255,255,255,.2);
        display: flex;
        align-items: center;
        z-index: 1001;
      }
      
      header .search-bar-container.active{
        top:100%;    
      }
 
      header .search-bar-container #search-bar{
        width:100%;
        padding:.5rem;
        text-transform: none;
        color:#333;
        font-size: 1rem;
      }

     
      header .search-bar-container label{
        color:#fff;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 1rem;
      }
      
      header .search-bar-container label:hover{
        color:#ffa500;
      } 

      /* 登录表单 */
      .login-form-container{
        position: fixed;
        top:-120%; left: 0;
        z-index: 10000;
        min-height: 100vh;
        width:100%;
        background:rgba(0,0,0,.7);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .login-form-container.active{
        top:0;
      }
      
      .login-form-container form{
        margin:2rem;
        padding:1.5rem 2rem;
        border-radius: .5rem;
        background:#fff;
        width:30rem;
      }
      
      .login-form-container form h3{
        font-size: 2rem;
        color:#444;
        text-transform: uppercase;
        text-align: center;
        padding:1rem 0;
      }
      
      .login-form-container form .box{
        width:100%;
        padding:1rem;
        font-size: 1.5rem;
        color:#333;
        margin:.6rem 0;
        border:.1rem solid rgba(0,0,0,.3);
        text-transform: none;
      }
      
      .login-form-container form .box:focus{
        border-color: #ffa500;
      }
      
      .login-form-container form #remember{
        margin-top: 1.5rem;
      }
      
      .login-form-container form label{
        font-size: 1.5rem;
        color: #333;
      }
      
      .login-form-container form .btn{
        display: block;
        width:100%;
        color: #333;
      }
      
      .login-form-container form p{
        padding:.5rem 0;
        font-size: 1.0rem;
        color:#666;
      }
      
      .login-form-container form p a{
        color:#ffa500;
      }
      
      .login-form-container form p a:hover{
        color:#333;
        text-decoration: underline;
      }
      
      .login-form-container #form-close{
        position: absolute;
        top:2rem; right:3rem;
        font-size: 4rem;
        color:#fff;
        cursor: pointer;
      }

      .btn{
        display: inline-block;
        margin-top: 1rem;
        background:#ffa500;
        color:#fff;
        padding:.8rem 3rem;
        border:.2rem solid #ffa500;
        cursor: pointer;
        font-size: 1.5rem;
      }
      
      .btn:hover{
        background:rgba(255, 165, 0,.2);
        color:#ffa500;
      }

      /* 主页的视频播放区 */
      .imgBox{
        width: 1480px;
        height: 680px;
        margin: 0 auto;
         
        }
        .imgBox img{
        width: 1480px;
        height: 680px;
        margin: 0 auto;
        }
        .img1{
        display: block;
        }
        .img2{
        display: none;
        }
        .img3{
          display: none;
        }
        .img4{
          display: none;
        }
        .img5{
          display: none;
        }


     
    